<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<head>
    <meta charset="UTF-8">
    <title>Register in Health Center!</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Health Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" th:if="${role} == 'user'">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="#">Doctors <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/visits">My Visits</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
        <div class="navbar-nav" th:if="${role} == 'doc'">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="#">Schedule <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
    </div>
</nav>

<div align="center">
    <a th:href="@{/doctor/{doctorId}/schedule/{userId}?action=prev&shiftWeeks={shiftWeeks} (doctorId=${docId},
                         userId=${userId}, shiftWeeks=${schedulesHourCollection[0].shiftWeeks})}">
        <button type="button"><-</button>
    </a>
    <span th:text="${schedulesHourCollection[0].schedules[0].schedule.startDate.toLocalDate()}"/>
    -
    <span th:text="${schedulesHourCollection[0].schedules[6].schedule.startDate.toLocalDate()}"/>
    <a th:href="@{/doctor/{doctorId}/schedule/{userId}?action=next&shiftWeeks={shiftWeeks} (doctorId=${docId},
                         userId=${userId}, shiftWeeks=${schedulesHourCollection[0].shiftWeeks})}">
        <button type="button">-></button>
    </a>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">TIME</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
    </tr>
    </thead>
    <tbody>
        <div th:each="scheduleCol : ${schedulesHourCollection}">
            <tr>
                <div th:each="schedule : ${scheduleCol.schedules}">
                    <td th:if="${schedule.dayOfWeek} == 1">
                        <div th:text="${schedule.time}"/>
                    </td>

                    <td th:if="${schedule.schedule.id} == -1 and ${schedule.dayOfWeek} != 7 and ${role} == 'user'">
                        <form class="form-horizontal" action='' th:action="@{/doctor/{doctorId}/schedule/{userId}?date={startDate}&shiftWeeks={shiftWeeks} (doctorId=${docId},
                             userId=${userId}, startDate=${schedule.schedule.startDate}, shiftWeeks=${scheduleCol.shiftWeeks})}" method="POST" >
                            <button style="height:100%;width:100%; display: inline-block;">Book</button>
                        </form>
                    </td>
                    <td th:if="${schedule.schedule.id} == -1 and ${schedule.dayOfWeek} != 7 and ${role} == 'doc'">

                    </td>
                    <td th:if="${schedule.schedule.id} == -1 and ${schedule.dayOfWeek} == 7" BGCOLOR="orange"></td>
                    <td th:if="${schedule.schedule.id} != -1 and ${schedule.schedule.patientId} == ${userId} and ${role} == 'user'" BGCOLOR="green">
                        Reserved By you
                        <a th:href="@{/doctor/{doctorId}/schedule/{userId}/{scheduleId}?shiftWeeks={shiftWeeks} (doctorId=${schedule.schedule.doctorId},
                         userId=${userId},
                         scheduleId=${schedule.schedule.id},
                         shiftWeeks=${scheduleCol.shiftWeeks})} " >
                                <span style="height:100%;width:100%" th:text="DELETE"/>
                        </a>
                    </td>
                    <td th:if="${schedule.schedule.id} != -1 and ${role} == 'doc'">
                       <span style="height:100%;width:100%" th:text="${patients.get(schedule.schedule.patientId).getFirstName()} + ' '
                            + ${patients.get(schedule.schedule.patientId).getLastName()}"/>
                        <a th:href="@{/doctor/{doctorId}/schedule/{userId}/{scheduleId}?shiftWeeks={shiftWeeks} (doctorId=${schedule.schedule.doctorId},
                         userId=${userId},
                         scheduleId=${schedule.schedule.id},
                         shiftWeeks=${scheduleCol.shiftWeeks})} " >
                            <span style="height:100%;width:100%" th:text="DELETE"/>
                        </a>
                        <a th:href="@{/visit/{visitId}?schedule={scheduleId} (visitId=${visits.get(schedule.schedule.id) != null ? visits.get(schedule.schedule.id).getId() : 0},
                            scheduleId=${schedule.schedule.id})}" >
                            <span style="height:100%;width:100%" th:text="SHOW"/>
                        </a>
                    </td>
                    <td th:if="${schedule.schedule} != null and ${schedule.schedule.patientId} != ${userId} and ${role} == 'user'" BGCOLOR="red">
                        Reserved
                    </td>
                </div>
            </tr>
        </div>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>