<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!------ Include the above in your HEAD tag ---------->
<head>
    <meta charset="UTF-8">
    <title>Register in Health Center!</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Health Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" th:if="${role} == 'user'">
            <a class="nav-item nav-link" href="/">Home </a>
            <a class="nav-item nav-link" href="/doctors">Doctors</a>
            <a class="nav-item nav-link active" href="#">My Visits<span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav" th:if="${role} == 'doc'">
            <a class="nav-item nav-link" href="#">Home</a>
            <a class="nav-item nav-link active" href="#">Schedule <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>

<div th:if="${mode} == 'MODE_SHOW_VISITS'">
    <div>
        <legend class="">Visits</legend>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Doctor name</th>
            <th scope="col">Start date</th>
            <th scope="col">Show visit</th>
        </thead>
        <tbody>
            <div th:each="visit : ${visits}">
                <tr>
                    <td>
                        <div th:text="${visit.name}"/>
                    </td>
                    <td>
                        <div th:text="${visit.time}"/>
                    </td>
                    <td>
                        <a th:href="@{/visit/{visitId}?schedule={scheduleId} (visitId=${visit.visitId}, scheduleId=${visit.scheduleId})}">
                            <div style="height:100%;width:100%" th:text="SHOW"/>
                        </a>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>
</div>
<div th:if="${mode} == 'MODE_VISIT'">
    <form class="form-horizontal" action='' th:action="@{/visit/{visitId}?schedule={scheduleId} (visitId=${visitId}, scheduleId=${scheduleId})}" method="POST" enctype="multipart/form-data">
        <fieldset>
            <div id="legend">
                <legend class="">Visit</legend>
            </div>
            <div class="control-group">
                <!-- First name -->
                <label class="control-label" >Diagnose</label>
                <div class="controls">
                    <input type="text" id="diagnosis" name="diagnosis" placeholder="" class="input-xlarge">
                </div>
            </div>
            <input type="file" name="file" />
            <a th:href="@{/visit?id={visitId} (visitId=${visitId})}">
                Open File
            </a>
            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>